{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    {{ include('menuP.html.twig') }}

<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>Ajouter un Eleve</span></h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br /><button>Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}